@use "../mixins" as *;

// Блок: card-info
.card-info {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 143px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.09);
    background: #fff;
    padding-left: 30px;

    @include mq(md) {
        flex-direction: column;
        justify-content: center;
        min-height: 284px;
        padding-left: 0;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include mq(xxl) {
        min-height: 284px;
    }

    &__title {
        margin-right: 20px;

        @include mq(md) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        @include mq(xxl) {
            margin-bottom: 20px;
        }

        &--three {
            img {
                width: 45px;
                height: 57px;
    
                @include mq(md) {
                    width: 53px;
                    height: 75px;
                }
    
                @include mq(xxl) {
                    width: 95px;
                    height: 105px;
                }
            }
        }
    
        &--world {
            img {
                width: 52px;
                height: 52px;
    
                @include mq(md) {
                    width: 73px;
                    height: 72px;
                }
    
                @include mq(xxl) {
                    width: 95px;
                    height: 95px;
                }
            }
        }
    
        &--person {
            img {
                width: 52px;
                height: 54px;
    
                @include mq(md) {
                    width: 72px;
                    height: 74px;
                }
    
                @include mq(xxl) {
                    width: 95px;
                    height: 97px;
                }
            }
        }
    }


    &__content {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #232323;

        @include mq(md) {
            font-size: 16px;
        }

        @include mq(xxl) {
            font-size: 20px;
        }
    }
}

