@use "../mixins" as *;

// Блок: card-small
.card-small {
    $block: &;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(50% - 10px);
    min-height: 134px;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.09);
    background: #fff;
    padding: 15px 18px 10px 18px;
    margin-bottom: 20px;

    @include mq(md) {
        width: calc(50% - 5px);
        margin-bottom: 10px;
    }

    @include mq(xxl) {
        width: calc(50% - 10px);
        min-height: 200px;
        margin-bottom: 20px;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
        max-width: 65px;
        color: rgba(17, 120, 178, 0.5);
        margin-bottom: 7px;

        @include mq(md) {
            max-width: 100%;
            font-size: 36px;
            margin-bottom: 0;
        }

        @include mq(xxl) {
            font-size: 48px;
            margin-bottom: 7px;
        }

        & span {
            font-size: 16px;

            @include mq(md) {
                font-size: 20px;
            }

            @include mq(xxl) {
                font-size: 24px;
            }
        }
    }

    &__content {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.6;
        text-align: center;
        color: rgba(16, 16, 16, 0.5);

        @include mq(md) {
            line-height: 1.43;
            font-size: 14px;
        }
    }

    &--interaction {
        font-weight: 500;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
        background: #1178b2;
        text-decoration: none;

        &:hover {
            background: #07af91;
        }
        
        & #{$block}__icons {
            margin-bottom: 5px;

            @include mq(xxl) {
                margin-bottom: 20px;
            }
        }
        
        & #{$block}__icon-mobile{
            width: 25px;
            height: 23px;

            @include mq(xxl) {
                display: none;
            }
        }

        & #{$block}__icon-desktop {
            display: none;

            @include mq(xxl) {
                display: block;
                width: 48px;
                height: 40px;
            }
        }

        & #{$block}__content {
            font-weight: 500;
            color: #fff;

            @include mq(md) {
                max-width: 120px;
            }

            @include mq(xxl) {
                font-size: 20px;
                max-width: 170px;
            }
        }

    }
}

.cont {
    max-width: 598px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
