@use "../mixins" as *;

// Блок: city-menu
.city-menu {
    $block: &;

    display: flex;
    background: #eef1f4;
    border-radius: 5px;
    list-style: none;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; //+
        // width: 100%; // -
        // max-width: 80px; // -
        // padding: 12px 7px; // -
        min-height: 56px; // +
        flex: 0.25; // +
        text-align: center; //+

        @include mq(md) {
            // max-width: 182px; // -
            // padding: 22px 41px; // -
        }

        //-
        // &:not(:last-child)::after {
        //     content: "";
        //     position: absolute;
        //     width: calc(100% - 34px);
        //     height: 1px;
        //     transform: rotate(-90deg);
        //     transform-origin: right top;
        //     right: 1px;
        //     top: 0;
        //     background: #cfddeb;

        //     @include mq(md) {
        //         width: calc(100% - 115px);
        //     }
        // }

        &:hover {
            border-radius: 5px;
            background: #88bbd8;

            & #{$block}__link {
                font-weight: 700;
                color: #fff;
            }
        }
    }
    &__link {
        display: block;
        font-family: var(--font-family);
        font-size: 10px;
        line-height: 1.1;
        color: #484848;
        text-decoration: none;

        & br {
            @include mq(xxl) {
                display: none; //+
            }
        }
    }
}
