@use "../mixins" as *;

// Блок: menu
.menu {
    $block: &;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    @include mq(md) {
        opacity: 1;
        visibility: visible;
        list-style: none;
    }

    &__item {
        @include mq(md) {
            display: inline-block;
        }

        &:not(:last-child) {
            @include mq(md) {
                margin-right: 34px;
            }

            @include mq(xxl) {
                margin-right: 52px;
            }
        }
    }

    &__link {
        @include mq(md) {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            color: #fff;
            text-decoration: none;
        }

        @include mq(xxl) {
            font-size: 18px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    // menu in footer
    @at-root .footer & {
        & #{$block}__item {
            &:not(:last-child) {
                @include mq(md) {
                    margin-right: 26px;
                }

                @include mq(xxl) {
                    margin-right: 52px;
                }
            }
        }

        & #{$block}__link {
            @include mq(md) {
                font-size: 14px;
            }

            @include mq(xxl) {
                font-size: 18px;
            }
        }
    }

    // menu in burger
    @at-root .burger__menu & {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        min-height: 410px;
        background: var(--color-base);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        z-index: 3;

        ul {
            list-style: none;
            padding: 10px;
            margin: 0;
        }

        &__item {
            margin: 10px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #e9e9e9;
            }
        }

        &__link {
            text-decoration: none;
            color: #fff;
        }
    }

    @at-root .burger.active .burger__menu & {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
