@use "../mixins" as *;

// Блок: title
.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 3.3;
    color: var(--color-primary);

    @include mq(md) {
        font-size: 32px;
        line-height: 2.5;
    }

    @include mq(xxl) {
        font-size: 36px;
        line-height: 2.2;
    }

    &--h1 {
        font-size: 24px;
        line-height: 1.67;
        text-transform: uppercase;
        color: #fff;

        @include mq(md) {
            font-size: 36px;
            line-height: 1.65;
        }

        @include mq(xxl) {
            font-size: 43px;
            line-height: 1.38;
        }
    }

    &--h3 {
        font-weight: 600;
        font-size: 16px;

        @include mq(md) {
            font-size: 18px;
        }

        @include mq(xxl) {
            font-size: 24px;
        }
    }

    &--h4 {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        color: #000;

        @include mq(md) {
            font-size: 20px;
        }
    }

    &--color-base {
        border-radius: 3px;
        background: var(--color-base);
        padding: 7px 10px;
        box-decoration-break: clone;

        @include mq(md) {
            padding: 9px 12px;
        }
    }
}
